SEMAPHORE_API_URL=http://127.0.0.1/api
SEMAPHORE_HOST_HEADER=semaphore.homelab.local
SEMAPHORE_USERNAME=admin
SEMAPHORE_PASSWORD=CHANGE_ME
SEMAPHORE_TOTP_SECRET=CHANGE_ME

SEMAPHORE_PROJECT_NAME=screenshot-audit
SEMAPHORE_VIEW_TITLE=Pilot
SEMAPHORE_REPOSITORY_NAME=audit-screenshot
SEMAPHORE_REPO_KEY_NAME=GitHub PAT
SEMAPHORE_INVENTORY_NAME=sharex-pilot
SEMAPHORE_ENVIRONMENT_NAME=sharex-pilot-winrm
SEMAPHORE_TEMPLATE_NAME=win_ping

GIT_REPO_USERNAME=CHANGE_ME
GIT_REPO_TOKEN=CHANGE_ME
GIT_REPO_URL=https://github.com/Richardbarbosasilva/audit-screenshot.git
GIT_REPO_BRANCH=main

PILOT_INVENTORY_FILE=/var/www/audit_screenshot/infra/ansible/inventories/pilot.ini
PILOT_PLAYBOOK=infra/ansible/playbooks/win_ping.yml

WINRM_CONNECTION=psrp
WINRM_PORT=5985
WINRM_PSRP_AUTH=ntlm
WINRM_CERT_VALIDATION=ignore
WINRM_USERNAME=WSUSLAB\\Administrator
WINRM_PASSWORD=CHANGE_ME

RUN_TEMPLATE=0
